.body {
  display: grid;
}

.header {
  display: grid;
  align-self: center;
  height: 80px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 123px;
  padding-right: 123px;
}

.header__nav {
  display: grid;
  grid-template-columns: 0.7fr 3fr 1fr 0.37fr;
  justify-items: center;
  align-items: center;
}

.header__input {
  height: 49px;
  max-width: 620px;
  width: 100%;
  display: grid;
  position: relative;
}

.header__input-enter {
  padding: 13px 50px 13px 20px;
  height: 49px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  color: #57565b;
  background-color: rgb(238 238 238 / 0.7);
  outline: none;
}

.header__input-image {
  width: 22px;
  justify-self: end;
  position: absolute;
  right: 20px;
}
.header__logo {
  justify-self: start;
  align-self: center;
}

.header__button {
  justify-self: end;
}

.header__button-enter {
  padding: 14px 27px;
  border-radius: 50px;
  border: 2px solid #ebebeb;
  font-size: 14px;
  color: #000;
  background-color: #ebebeb;
  letter-spacing: 0.2px;
  cursor: pointer;
  transition: 0.2s;
}

.header__button-enter:hover {
  border-color: #5f5f61;
}

.header__cart {
  justify-self: end;
  background-color: #f66a15;
  padding: 12px;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
}

.header__cart-image {
  display: flex;
  align-items: center;
  transition: 0.5s;
  transform: scale(1);
}

.header__cart:hover .header__cart-image {
  transform: scale(1.2);
}

.header__cart-length {
  background-color: #ffaf19;
  border-radius: 100%;
  padding: 4px;
  position: absolute;
  right: 0px;
}

.header__cart-text {
  color: #000;
  font-size: 8px;
  text-align: center;
}

.main {
  display: grid;
}

.section__banner {
  position: relative;
  margin-bottom: 50px;
  padding-left: 123px;
  padding-right: 123px;
}

.section__banner-all-elements {
  position: absolute;
  z-index: 3;
  top: 80px;
  left: 225px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 30px;
  width: 390px;
  height: 300px;
}

.section__banner-text {
  display: grid;
  row-gap: 15px;
}

.section__banner-text-title {
  font-size: 50px;
  font-family: "Roboto-Bold";
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 50px;
}

.section__banner-text-promotion {
  font-size: 16px;
  font-family: "Roboto-Bold";
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 25px;
}

.section__button-order {
  border: none;
  font-size: 14px;
  color: #fff;
  background-color: #f47322;
  padding: 15px 53px;
  border-radius: 25px;
  font-family: "Roboto-Medium";
  letter-spacing: 0.2px;
  cursor: pointer;
  transition: 0.2s;
}

.section__button-order:hover {
  background-color: #f6f6f6;
  color: #f47322;
  border-color: #f47322;
}

#autoplay-carousel-banner {
  position: relative;
  height: 399px;
  width: 1190px;
  margin: 0 auto;
}

#autoplay-carousel-banner img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#autoplay-carousel-banner {
  position: relative;
  height: 399px;
  width: 1190px;
  margin: 0 auto;
}

#autoplay-carousel-banner img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@-webkit-keyframes cf3FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes cf3FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes cf3FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cf3FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#autoplay-carousel-banner img.pumpkin {
  -webkit-animation-name: cf3FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
  -webkit-animation-direction: alternate;

  -moz-animation-name: cf3FadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 5s;
  -moz-animation-direction: alternate;

  -o-animation-name: cf3FadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 5s;
  -o-animation-direction: alternate;

  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
}

.section__price {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  height: 382px;
  position: relative;
  margin-bottom: 110px;
  padding-left: 123px;
  padding-right: 123px;
}

.section__price-about-pie-all {
  position: absolute;
  justify-self: start;
  z-index: 2;
  display: grid;
  grid-template-rows: auto;
  row-gap: 10px;
  padding: 36px 32px;
  row-gap: 5px;
  height: 381px;
}

.section__price-about-pie-title {
  font-size: 24px;
  font-family: "Roboto-Medium";
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.2px;
}

.section__price-about-pie-text {
  align-content: end;
}

.section__price-about-pie-text-about {
  font-size: 16px;
  font-family: "Roboto-Medium";
  color: #fff;
  letter-spacing: 0.2px;
}

.section__price-about-pie-about-price {
  align-content: end;
  height: 100px;
}

.section__price-about-pie-price {
  font-size: 30px;
  font-family: "Roboto";
  color: #fff;
  letter-spacing: 0.2px;
}

.price-span {
  font-size: 24px;
  text-transform: uppercase;
}

.section__price-about-pie-about-delivery {
  align-content: start;
}

.section__price-about-pie-delivery {
  font-size: 16px;
  font-family: "Roboto-Medium";
  color: #fff;
  letter-spacing: 0.2px;
}

.section__button-collect-cart {
  align-self: end;
}

.section__button-cart {
  padding: 14px 48px;
  border-radius: 50px;
  border: 2px solid #fff;
  color: #5f5f61;
  font-size: 16px;
  letter-spacing: 0.2px;
  font-family: "Roboto-Medium";
  cursor: pointer;
  transition: 0.2s;
}

.section__button-cart:hover {
  border-color: #5f5f61;
}

.section__image-price-pie {
  width: 570px;
  height: 380px;
  justify-self: start;
}

.section__image-pie {
  width: 570px;
  height: 380px;
}

.section__image-price-salad {
  width: 570px;
  height: 380px;
  justify-self: end;
}

.section__image-salad {
  width: 570px;
  height: 380px;
}

.section__delivery {
  margin-left: 0.3px;
  margin-bottom: 97px;
  padding-left: 123px;
  padding-right: 123px;
}

.section__delivery-title-text {
  font-size: 32px;
  line-height: 23px;
  font-family: "Roboto";
  letter-spacing: 0.2px;
  color: #000;
}

.section__delivery-food {
  margin-top: 47px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.section__delivery-food-card {
  width: 275px;
  height: 182px;
  background-color: #e1e1e1;
  border-radius: 18px;
  font-size: 20px;
  font-family: "Roboto-Medium";
  letter-spacing: 0.2px;
  position: relative;
  cursor: pointer;
}

.card-healthy {
  background-image: url(../image/cardjpeg/Rectangle\ 1.jpg);
}

.card-text-healthy {
  background-color: #d0fd89;
  color: #49494f;
}

.card-veg {
  background-image: url(../image/cardjpeg/Rectangle\ 2.jpg);
}

.card-text-veg {
  background-color: #aebc41;
  color: #fff;
}

.card-meat {
  background-image: url(../image/cardjpeg/Rectangle\ 3.jpg);
}

.card-text-meat {
  background-color: #b86b78;
  color: #fff;
}

.card-fowl {
  background-image: url(../image/cardjpeg/Rectangle\ 4.jpg);
}

.card-text-fowl {
  background-color: #d68334;
  color: #fff;
}

.card-fish {
  background-image: url(../image/cardjpeg/Rectangle\ 5.jpg);
}

.card-text-fish {
  background-color: #cd6255;
  color: #fff;
}

.card-for-children {
  background-image: url(../image/cardjpeg/Rectangle\ 6.jpg);
}

.card-text-children {
  background-color: #fffdbf;
  color: #49494f;
}

.card-for-parents {
  background-image: url(../image/cardjpeg/Rectangle\ 7.jpg);
}

.card-text-parents {
  background-color: #f6fdc8;
  color: #49494f;
}

.card-holiday {
  background-image: url(../image/cardjpeg/Rectangle\ 8.jpg);
}

.card-text-holiday {
  background-color: #fef7fe;
  color: #49494f;
}

.overlay-border {
  position: absolute;
  border: 2px solid #fff;
  width: 275px;
  height: 182px;
  border-radius: 18px;
}

.section__delivery-food-card-text {
  padding: 5px 10px;
  border-radius: 30px;
  display: inline-block;
  margin: 16px 10px;
}

.section__category {
  background-color: #f6f6f6;
  padding: 40px 123px 60px;
}

.section__category-title-text {
  font-size: 32px;
  font-family: "Roboto";
  color: #000;
}

.section__category-all-text {
  display: flex;
  column-gap: 58px;
  padding-top: 40px;
  padding-bottom: 62px;
}

.category-link {
  font-size: 20px;
  color: #49494f;
  cursor: pointer;
  transition: 0.2s;
}

.category-link:hover {
  color: #f37321;
}

.category-link--active {
  color: #f37321;
}

.section__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 60px;
}

.section__card-products {
  width: 270px;
  height: 471px;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgb(0 0 0 / 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.section__card-image {
  background-image: url(../image/pricejpg/Rectangle\ 11.jpg);
  background-size: cover;
  width: 270px;
  height: 192px;
  border-radius: 20px 20px 0px 0px;
}

.section__card-text-all-elements {
  padding: 21px 25px;
  height: 279px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section__card-text {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.section__card-text-title {
  color: #000;
  font-size: 20px;
  font-family: "Roboto-Medium";
}

.section__card-text-description {
  color: #b9b9be;
  font-size: 14px;
  font-family: "Roboto-Medium";
  line-height: 23px;
}

.section__card-price-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-text-price {
  font-size: 23px;
  color: #4b4b51;
  font-family: "Roboto-Medium";
  letter-spacing: 0.2px;
}

.card-text-weight {
  font-size: 17px;
  color: #aaaab1;
  font-family: "Roboto-Medium";
  letter-spacing: 0.2px;
}

.card-button {
  border: 2px solid #f37321;
  border-radius: 33px;
  background-color: transparent;
  color: #f37321;
  font-family: "Roboto-Medium";
  font-size: 16px;
  padding: 15px 23px;
  cursor: pointer;
  transition: 0.2s;
}

.card-button:hover {
  background-color: #ffa871;
  color: #fff;
  border-color: #ffa871;
}

.section__cards-button {
  display: flex;
  justify-content: center;
}

.cards-button-more {
  border: 2px solid #f37321;
  border-radius: 33px;
  background-color: transparent;
  color: #f37321;
  font-family: "Roboto-Medium";
  font-size: 16px;
  padding: 15px 105px;
  transition: 0.2s;
}

.cards-button-more:hover {
  background-color: #ffa871;
  color: #fff;
  border-color: #ffa871;
}

.section__advantages {
  padding: 90px 123px 202px;
}

.section__advantages-title-text {
  font-size: 32px;
  color: #000;
}

.section__advantages-cards {
  display: flex;
  justify-content: space-between;
  padding-top: 52px;
}

.section__advantages-cards-all {
  width: 270px;
  height: 296px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgb(0 0 0 / 0.1);
  border-radius: 18px;
  padding: 30px 23px 25px;
  row-gap: 25px;
  transition: 0.2s;
}

.section__advantages-cards-all:hover {
  background-color: #f37321;
}

.section__advantages-cards-all:hover .section__advantages-card-title-text {
  color: #fff;
}

.section__advantages-cards-all:hover .section__advantages-text {
  color: #fff;
}

.section__advantages-cards-all:hover .section__advantages-image {
  filter: invert(100%) sepia(1%) saturate(1341%) hue-rotate(187deg)
    brightness(200%) contrast(100%);
}

.section__advantages-card-image {
  width: 60px;
  height: 60px;
}

.section__advantages-image {
  width: 100%;
  height: 100%;
}

.section__advantages-card-texts {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.section__advantages-card-title {
  height: 46px;
}

.section__advantages-card-text {
  height: 88px;
}

.section__advantages-card-title-text {
  text-align: center;
  font-size: 16px;
  color: #000;
  font-family: "Roboto-Medium";
  line-height: 23px;
  letter-spacing: 0.2px;
}

.section__advantages-text {
  text-align: center;
  font-size: 14px;
  color: #49494f;
  line-height: 22px;
  letter-spacing: 0.2px;
}

.image-car {
  width: 70px;
  height: 70px;
}

.footer {
  background-color: #f6f6f6;
  padding: 45px 123px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.footer__logo {
  width: 205px;
  height: 101px;
}

.footer__links a {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1.2px;
}

.footer__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.footer__social-wrapper {
  width: 28px;
  height: 28px;
  background-color: #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.social-telegram {
  padding-right: 3px;
}

.social {
  width: 18px;
  height: 18px;
}
